

body{
    margin:0;
    height: 100%;
    width:100%;
    font-family: sans-serif;
    background-image: url("./assets/bk.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    }
.h1{
    font-size: 50%;
    color: red;
}
#image{
    display: none;
}
img{
    width: 100%;
    height: max-content;
    object-fit: contain;
}
/*START.HTML*/
.start_borders{
     border-style: ridge;
    border-width: 10px;
    border-color: black;
    border-radius: 20%;
    background-color: wheat;

}
.description_block{
    width: 90%;
    font-size: large;
    font-family: 'Rancho', cursive;
    font-style: italic;
    text-align: center;
    position: center;
    margin-left: 5%;
    padding: 20px;
}

.startBlock{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.startButton {
  position: inherit;
  border: 3.8px solid #000000;
  border-radius:60px;
  padding:19.4px;
  margin-left:23.7px;
  background-color:#52F984;
  color:#000000;
  font-weight:bold;
  opacity:1;
  transition:2.7s;
}
.painting_container{
    width: 90%;
    margin-left: 5%;

}
.container{
    position: relative;
    width: 90%;
    margin: 5%;
    padding: 40px 20px;
    background-color: wheat;
    border-radius: 20px;
    border-style: ridge;
    border-width: 10px;
    border-color: darkslategrey;
}
.container .search_box{
    position: relative;
    height: 42px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.search_box input{
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #323334;
    color: #ffffff;
    padding: 0 15px 0 45px;
    border-radius: 6px;
}
.search_box i{
    z-index: 2;
    position: absolute;
    color: #999;
    top:50%;
    left: 15px;
    font-size: 20px;
    transform: translateY(-50%);
    border-radius: 6px;
}
.container .images .image-box{
    position: relative;
    width: 210px;

}
.images{
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}
.images_f{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-box{
    border: dotted black 3px;
    border-radius: 5%;
    text-wrap: normal;
    overflow: hidden;
}
.images .image-box{
    margin: 5px;
}
.image .image-box img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    margin: 10px;
    filter: blur(15px);
}
.image-box h6{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: blue;
    font-size: 15px;
    font-weight: 500;
    font-style: oblique;
    text-transform: capitalize;
    text-align: left;

}
            /* end START.HTML*/

            /* INDEX.HTML*/
/***/
.page-top{
    text-align: center;

}
.title-box{
    position: relative;
    text-transform: uppercase;
    font-family: 'Rancho', cursive;
    background-clip: text;
    -webkit-background-clip: text;
    color: wheat;
    width: 80%;
    padding-left: 5%;
}
.instruction-box{
    padding-right: 5px ;
    padding-left: 20px;
    align-self: end;
    width: 20%;
}
.instruction-box h1{
    font-style: oblique;
    font-size: 15px;
    color: dimgrey;
}

/*istr btn START*/
.instructions-btn{
  display: inline-block;

  border-radius: 4px;
  background-color: darkred;
  opacity: 0.5;
  border: none;
  color: lightblue;
  font-size: 18px;
  padding: 15px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}
.instructions-btn span {
  object-fit: fill;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-align: left;
    font-size: 12px;
    padding-right: 10px;
}
        /* popup box with description*/
    .overlay {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
    }
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    .overlay h2{
        padding: 8px;
      text-decoration: #f1f1f1;
      font-size: 40px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    .overlay p {
      padding: 5px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
    }
        /* popup box with description*/
/* istr btn END*/

.header_container {
    position: center;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.img_block{
    position: center;
    color: white;
    object-fit: contain;
    padding:10px
}
.center_things{
    border-style: ridge;
    border-radius: 10%;
    border-width: 10px;
    border-color: darkslategrey;
    background-color:floralwhite;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 20px;
    position: center;
    align-content: center;
    flex-direction: column;
    display: block;
}

.top_container_block{
    flex-direction: row;
    color: black;
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    margin-top: 0;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-content: start;
    box-sizing: content-box;
    width: 60%;
}
.miniature-box{
    width:40%;
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 10px;
    margin-top: 0;
    align-content: end;
    object-position: left;
}
.miniature{
    width: 150px;
    height: 150px;
    filter: blur(5px);
}

.form_block{
    margin-top: auto;
    margin-bottom: 10px;
    color:black;
    border-top: solid;
    border-top: wheat;
    text-align: center;
}
#textbox{
    width: 90%;
    border-radius: 10px;
    position: center;
    border-color: dimgrey;
    border-style: double;
}
.description_paragraph{
    font-style: italic;
    font-size: 80%
}
.submitButton{
  display: block;
  background-color: #212F3C;
  padding: 18px 10px;
  color: white;
  width: 100%;
  border-radius: 6px;
  font-size: 20px;
  font-family: 'Helvetica', Arial, sans-serif;
}
.img_container{
    padding: 20px;
    background-color:white;
    align-content: center;
    border-radius: 25px;
}
            /* end INDEX.HTML*/

            /* FINAL.HTML*/
/***/
#compare-box{
    width: 100%;
    height: 80%;
    position: relative;
    overflow: auto;
}
#final-page-title{
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
    padding-right: 5%;
}
.image-box-f{
    border: dotted black 3px;
    border-radius: 5%;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 10px;
    align-content: end;
    text-align: start;
    width: 90%;
    height: auto;

}
.image-box-f>img{
    align-self: end;
    display: flex;
    object-fit: contain;
}
.box-final h6{
    align-self: start;
    position: center;
    width: 18%;
    flex-wrap: wrap;
    padding-top: 40%;
}

.box-final{
    display: flex;
    align-content: center;
    position: center;
    text-align: left;
    width: 100%;
    height: 30%;
    box-sizing: border-box;
}
#voteBtn{
    align-self: center;
}

.retry{
    font-size: 14px;
}
hr.dashed {
  border-top: 3px dashed #bbb;
}


/*zoom img START*/
 #AI_image #zoomedImage {
      max-width: 100%;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    #zoomedImage.zoomed {
      transform: scale(2);
      cursor: zoom-out;
    }
/*zoom img END*/

.footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.footer p{
    font-style: italic;
    color: lightcyan;
    font-weight: normal;
}
.finish_btn_container{
    position: relative;
    width: 30%;
    margin: 0;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
.finish_btn{
    width: 100%;
    alignment: center;
    font-weight: normal;
    border-radius: 5px;
    border-width: 5px;
}
.finish_btn:disabled{
    opacity: 40%;
}
#original{}
.vote_page_block{
    width: 90%;
    font-size: large;
    font-family: 'Rancho', cursive;
    font-style: italic;
    text-align: center;
    position: center;
    margin-left: 5%;
    padding: 20px;
}

.vote-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid tan;
    border-radius: 5%;
    background-color: white;
    padding-left:0;
    padding-right: 0;
}

.vote-box> .my-check{
    flex: max-content;
    flex-wrap: wrap;
    box-sizing: content-box;
    align-content: flex-end;
    display: flex;
    padding-left: 5px ;
    border-radius: 1px;
}