{% extends 'base.html' %}
{% block head %}
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comapatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Add Painting</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'></link>
</head>
{% endblock %}
{% block body %}
    <div class="title">
            <img class="placeholder-icon" width="40" height="40" src="/static/css/assets/appLogo.png">
            <h5>Test Your Memory</h5>

        </div>
    <div class="small-button d-flex ">
    <a href="{{ url_for("back_end") }}" >
                <span>Back-end main page</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" >
                    <image href="/static/css/assets/back-arrowlogo.png" height="40" width="40" />
                </svg>
    </a>
    </div>

   <div class="content-container">
        <div class="description">
            <h2>Fill the form to add a new painting</h2>
            <h4 style="color: #707070">The description doesn't need to be really detailed</h4>
        </div>
   </div>

   <div class="border border-secondary  p-3 m-3 bg-body rounded">
        <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.collection_select.label(class='form-label') }}
                {{ form.collection_select(class='form-control')}}
                <br/>
                {{ form.hidden_tag() }}
                {{ form.author.label(class='form-label') }}
                {{ form.author(class='form-control')}}
                <br/>
                {{ form.name.label(class='form-label') }}
                {{ form.name(class='form-control', rows='3')}}
                <br/>
                {{ form.saved_pic.label(class='form-label') }}
                {{ form.saved_pic(class='form-control')}}

                <br/>
                {{ form.description.label(class='form-label') }}
                {{ form.description(class='form-control')}}
                <br/>
            <h5>Insert the description for training</h5>
            <p>This description should focus on the details of the background</p>
            {{ form.training_text(class='form-control')}}
            <br/>
                {{ form.submit(class='submitButton w-25 ') }}

        </form>
   </div>

{% endblock %}
</body>
{% block script %}
    <script type="module"
            src="{{ url_for('static',filename='js/add_painting.js') }}"></script>
{% endblock %}
</html>