{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div class="title">
            <img class="placeholder-icon" width="40" height="40" src="/static/css/assets/appLogo.png">
            <h5>Test Your Memory</h5>

        </div>
    <div class="small-button d-flex ">
    <a href="{{ url_for("back_end") }}" >
                <span>Back-end main page</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" >
                    <image href="/static/css/assets/back-arrowlogo.png" height="40" width="40" />
                </svg>
    </a>
    </div>

    <div class="content-container">
        <div class="description">
            <h2>Add a Collection!</h2>
            <h4 style="color: #707070">insert the name of the collection you want to add</h4>
            <h4 style="color: #707070"> below there is a list of created collections</h4>
        </div>
    </div>

    <div class="border border-secondary p-3 bg-body rounded m-3">
        <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.collection_name.label(class='form-label') }}
        {{ form.collection_name(class='form-control')}}
        <br/>
        {{ form.submit(class='submitButton w-25 ') }}

        <br/>
        </form>
    </div>
    <br/><br/><br/>
    <table class="table table-hover table-bordered table-striped">

    {% for our_user in our_users %}
	<tr>
	<td>{{ our_user.id }}. {{ our_user.collection_name}}--path:{{ our_user.collection_path }}--
	museum: {{ our_user.museum }} -
	<a href="{{ url_for('delete_collection', id=our_user.id)}}">Delete</a></td>
	</tr>
    {% endfor %}

</table>
{% endblock %}
</body>
</html>