{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
    <h1 style="text-align: center">Fill the Form to add new Painting</h1>
    <br/>

    <div class="be_form_block d-flex justify-content-center">
        <div class="shadow p-3 mb-5 bg-body rounded w-75 ">
            <h3>it will be added to {{collection.collection_name }}</h3>
            <form method="POST" enctype="multipart/form-data">

                {{ form.hidden_tag() }}
                {{ form.author.label(class='form-label') }}
                {{ form.author(class='form-control')}}
                <br/>
                {{ form.name.label(class='form-label') }}
                {{ form.name(class='form-control', rows='3')}}
                <br/>
                {{ form.saved_pic.label(class='form-label') }}
                {{ form.saved_pic(class='form-control')}}

                <br/>
                {{ form.description.label(class='form-label') }}
                {{ form.description(class='form-control')}}
                <br/>
                {{ form.submit(class='btn btn-secondary') }}

            </form>
        </div>
    </div>

{% endblock %}
</body>
{% block script %}
    <script type="module"
            src="{{ url_for('static',filename='js/add_painting.js') }}"></script>
{% endblock %}
</html>