{% extends 'base.html' %}
{% block head %}
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comapatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Back-end</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'></link>
</head>
{% endblock %}

{% block body %}
    <div class="header">
         <div class="title">
                <img class="placeholder-icon" width="40" height="40" src="/static/css/assets/appLogo.png">
                <h5>Test Your Memory</h5>
        </div>
            <div class="museum-info">
                <div class="museum-name">
                    <h4 style="color: #707070">{{ museum_name }}</h4>
                </div>
            </div>
    </div>
     <div id="canvasContainer" style="display: none;">
        <canvas id="imageCanvas"></canvas>
    </div>
   <div id="popup-window">
          <div class="popup-text">
                <h1 id="delete-paint">Delete Painting</h1>
                <p id="popup-text">This is a pop-up window.</p>
          </div>
       <div class="buttons">
          <button id="delete-button" class="button" >Delete</button>
           <button id="close-button" class="button">Close</button>
       </div>
</div>
    <div class="add-painting-link p-3 d-flex">
            <h5><a class='submitButton  text-center' href="{{url_for('add_painting', collection=getSelectedCollection)}}">+Add Painting</a></h5>
             <h5><a class="submitButton text-center" href="{{ url_for('add_collection')}}">+ add new collection</a></h5>
        </div>
    <div class="centered-content">
            <div class="select-box">
                <select  id="collection_list"  onchange=paints_by_collection()></select>
            </div>
    </div>
    <div class="collection-container" id="be-container">

    </div>
{% endblock %}
</body>
{% block script %}
    <script type="module"
            src="{{ url_for('static',filename='js/back-end.js') }}"></script>
<script type="module"
            src="{{ url_for('static',filename='js/drawCanvas.js') }}"></script>
{% endblock %}
</html>