{% extends 'base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <title>Title</title>
{% endblock %}
{% block body %}

<body>
<div class="page-top">
        <div class="title-box" id="final-page-title">
            <h1 class="title-text">Test Your Memory</h1>
        </div>
</div>
<div class="painting_container">
    <div class="container" id="comparison">
        <div class="images" id="compare-box">
            <div class="box-final flex-d">
            <h6>AI IMAGE</h6>
                <div class=" image-box-f " id="final_AI">
                    <img src="{{AI_image}}"  class="img-center" style="object-fit: cover" id="zoomedImage" >
                </div>
            </div>
            <div class="box-final flex-d ">
                <h6>{{ original_name }}</h6>
                <div class=" image-box-f" id="final_original">
                    <img src="{{original_path}}"  class="img-center" style="object-fit: cover" id="zoomedImage1">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer cols-2 mt-5 align-content-center flex-row">
    <div class="col">
        <h1 class="text-center" style="color: wheat"> Go back to select another painting to reproduce</h1>
        <div class="startBlock" >
            <button class="EndButton" id="is-btn" style="font-size:30px;position: center" onclick="window.location.href='{{ url_for('start') }}'">
                <span>CLick me</span>
            </button>
        </div>
    </div>
    <div class="col align-content-center">
         <h1 class="text-center" style="color: wheat"> Go to vote page, and confront your creation with others</h1>
        <div class="startBlock">
            <button class="startButton"
                        id='voteBtn'  style="font-size:30px;position: center"
                    onClick="window.location.href='{{ url_for('vote', path=path, paintingName=paintingName)}}';">Vote</button>
        </div>
    </div>
</div>
</body>
{% endblock %}
{% block script %}
    <script type="module" src="{{ url_for('static',filename='js/index.js')}}"></script>
     <script type="module" src="{{ url_for('static',filename='js/final.js')}}"></script>
{% endblock %}
</html>