{% extends 'base.html' %}
{% block head %}
    <title>Title</title>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comapatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
</head>

<body>
{% block body %}
    <div class="header">
        <div class="title">
            <img class="placeholder-icon" width="40" height="40" src="/static/css/assets/appLogo.png">
            <h5>Test Your Memory</h5>
        </div>
        <div class="museum-info">
            <div class="museum-name d-flex justify-content center">
                <h4 style="color: #707070">{{ museum }}</h4>
            </div>
        </div>

    </div>
     <div class="image-container">
    <div class="wrapper">
        <div class="text-box-f">
            Original
        </div>
        <div class="overlay-container" id="overlay">
          <div class="content">
              <div class="content-overlay"></div>
              <img src="{{ original_path }}" class="imagesf img-blurredf" alt="Image 1">
              <div class="content-details fadeIn-bottom">

                        <a href="" class="closebtn d-flex justify-content-end"  >&times;</a>

                  <h3 class="content-title">{{ original_name}}</h3>
                  <p class="content-text">{{ description }}</p>
              </div>
          </div>
        </div>
    </div>
        <div class="middle-part">
            <h4 id="similarity-txt">similarity</h4>
            <div class="chart-container">
                <div class="bar" style="width: 80%;" id="similarity"></div> <!-- Adjust the width as needed -->
            </div>
        </div>
        <div class="wrapper">
            <div class="text-box-f">
                Your image
            </div>
            <img src="{{ AI_image }}" class="imagesf" alt="Image 2">
        </div>
    </div>
    <div class="buttons">
            <button id="back-to-index" class="button" onclick="backToGenerate()">
              Generate Again
            </button>
    <button id="finish creation" class="button" onclick=window.location.href="'{{url_for('userCollection')}}'">
               Finish Generation
            </button>
    </div>

{% endblock %}
</body>

{% block script %}
    <script type="module" src="{{ url_for('static',filename='js/index.js')}}"></script>
     <script type="module" src="{{ url_for('static',filename='js/final.js')}}"></script>
{% endblock %}
</html>