{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comapatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Home</title>
</head>
<body >
    {% block body %}
        <div id="myNav" class="overlay" style="display: none">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <h2>Welcome to the Game!!</h2>
                <p>this is an example of the pop up window containing the description on how the game works</p>
                <p>this is another paragraph describing what you can do after having played</p>
                <p>click on the X when you are done reading to close this window</p>
            </div>
        </div>
        <div class="page-top d-flex align-items-center">

        <div class="title-box d-inline-block">
            <h1 class="title-text"> Test your Memory </h1>
        </div>
            <div class="instruction-box ml-auto mr-4">
                <button class="instructions-btn" id="is-btn" style="font-size:30px;cursor:pointer" onclick="openNav()">
                <span>Click for instructions</span>
                </button>
            </div>
        </div>

        <div class="painting_container">
            <div class="container m-0" id="index-container">
                <div class="top_container_block .container-fluid">
                    <div class="text-box">
                        <p id="selected_author">Selected painting</p>
                        <h3 style="font-style:oblique;font-weight: bold">{{ paintingName }}</h3>
                    </div>
                    <div class="miniature-box">
                        <img class="miniature " src="{{ path }}">
                    </div>
                </div>
                    <div class="form_block mb-1 "  style="border-top: solid">
                        <h3>Insert the image description that will be sent to AI:</h3>
                        <label for="textbox" class="description_paragraph "></label>
                        <textarea id="textbox" rows="6" name="image" placeholder="describe" required></textarea>
                        <button class="submitButton" id="submit_btn" onclick="checksubmit()">Submit</button>
                    </div>

                <div class="form_block"  style="border-top: solid">
                    <div class="header_container">
                        <h1 class="center" style="color:black">generated image</h1>
                        <p>generating your image </p>
                    </div>
                    <div class="img_container" style="border: 2px solid black;">
                        <div class="img_block" id="img_block">
                            <h2 id="AI_box_txt" style="display: none ; color: black">The AI is generating your image, please wait</h2>
                             <div id="loading">
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>this will activate after the image is generated</p>
            <div class="finish_btn_container">
                <button class="startButton"
                        id='endBtn' onClick="window.location.href='{{ url_for('final')}}';" disabled>Finish</button>
            </div>
        </div>
    {% endblock %}
</body>
{% block script %}
<script type="module"
            src= "{{ url_for('static', filename='js/index.js')}}">
    </script>
{% endblock %}
</html>