{% extends 'base.html' %}

{% block head %}
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comapatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Home</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'></link>
</head>
{% endblock %}
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comapatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Home</title>
</head>
<body >
{% block body %}
    <!--<div id="myNav" class="overlay" style="display: none">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <h2>Your image is being generated!!</h2>
            <p>The process will take some time to complete</p>
            <p>once finished you will be redirected to the image generated</p>
            <p>click on the X when you are done reading to close this window</p>
            <div id="loading"></div>
        </div>
    </div>-->
    <div class="header">
        <div class="title">
            <img class="placeholder-icon" width="40" height="40" src="/static/css/assets/appLogo.png">
            <h5>Test Your Memory</h5>
        </div>
        <div class="museum-info">
            <div class="museum-name">
                <h4 style="color: #707070">{{ museum }}</h4>
            </div>
        </div>
        <div class="placeholder-container" onclick="window.location.href='{{ url_for('userCollection') }}'">
            <div class="placeholder-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" ><image href="/static/css/assets/bx_collection_icon.png" height="40" width="40" /></svg>
            </div>
            <div class="placeholder-number">
                #123
            </div>
        </div>
    </div>
    <a href="{{ url_for("start") }}" class="small-button"><span>Back to selection</span></a>
    <div class="game-container">
        <div class="part top-part">
            <!-- Text on the left side -->
            <div class="text">
                <p>Selected painting</p>
                <h4>{{ paintingName }}</h4>
            </div>
            <div class="part">
                <div class="image">
                    <img src="{{ path }}">
                </div>
            </div>
        </div>

        <div class="part bottom-part">
            <div class="separator"></div>
            <h5 style="color: #707070">Write a Description for the image you have chosen to recreate.</h5>
                <!-- Text box and submit button -->
            <textarea class="centered-textarea" id="textbox" rows="4" placeholder="Enter your text"></textarea>
            <br>
            <button type="submit" class="submitButton" id="submit_btn" onclick="checksubmit()">Submit</button>
        </div>
    </div>

    {% endblock %}
</body>
{% block script %}
<script type="module"
            src= "{{ url_for('static', filename='js/index.js')}}">
    </script>
{% endblock %}
</html>