<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br/>
  <div class="tabletContainer">
                <!-- Canvas -->
                <canvas id="main-canvas">
                    <img id="img-main" src="/static/images/MyFirstCollection/Leonardo%20da%20Vinci,%20Gioconda.jpg" width="640" height="480" alt="" srcset="">
                </canvas>
            </div>
</body>
<script
            src= "{{ url_for('static',filename='js/detection.js')}}"></script>
</html>