{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div class="header">

        <div class="title">
            <img class="placeholder-icon" width="40" height="40" src="/static/css/assets/appLogo.png">
            <h5>Test Your Memory</h5>

        </div>
        <div class="museum-info">
            <div class="museum-name">
                <h4 style="color: #707070">{{ museum }}</h4>
            </div>
        </div>
        <div class="placeholder-container">
            <div class="placeholder-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" ><image href="/static/css/assets/bx_collection_icon.png" height="40" width="40" /></svg>
            </div>
            <div class="placeholder-number">
                #123
            </div>
        </div>
    </div>
</div>
    <div class="small-button d-flex ">
    <a href="{{ url_for("start") }}" >
                <span>Back to selection</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" >
                    <image href="/static/css/assets/back-arrowlogo.png" height="40" width="40" />
                </svg>
    </a>
    </div>

    <div class="content-container ">
        <div class="creation-header">
            <h4>Your Creations</h4>
        </div>
        <div class="collection-separator"></div>
        <div class="canvas-cell">
            <canvas id="canvas1" class="canvas"></canvas>
            <div class="canvas-description">
                <h5>Botticelli, Birth of venus</h5>
                <p>This is the description of Botticelli birth of venus</p>
                <a class="download-button" id="download" >
                   <span style="color: white"> <svg class="download-icon"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <image href="/static/css/assets/downlinearrow.png" height="24" width="24"></image>
                    </svg>Download</span>
                </a>
            </div>
        </div>
        <div class="collection-separator"></div>
            <div class="canvas-cell">
                <canvas class="canvas"></canvas>
                <div class="canvas-description">
                    <h5>Title of original(placholder)</h5>
                    <p>placeholder description</p>
                    <a class="download-button" id="download" >
                        <span style="color: white"> <svg class="download-icon"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <image href="/static/css/assets/downlinearrow.png" height="24" width="24"></image>
                        </svg>Download</span>
                    </a>
                </div>
            </div>
            <div class="collection-separator"></div>
        </div>

{% endblock %}
    {% block script %}
<script type="module"
        src="{{ url_for('static',filename='js/user-collection.js')}}"></script>
{% endblock %}
</body>
</html>