{% extends 'base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <title>Title</title>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comapatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Home</title>
</head>
<body>
{% block body %}
    <div class="page-top">
        <div class="title-box" id="final-page-title">
            <h1 class="title-text">Test your Memory </h1>
        </div>
    </div>
    <div class="painting_container">

        <div class="container">
           <div class="top_container_block .container-fluid"
                style="border-bottom: 2px solid black; margin: 0">
                <div class="text-box" style="padding-top: 10%">
                    <h3 style="font-style:oblique;font-weight: bold; align-content: center">your image</h3>
                </div>
                <div class="image-box-f flex-wrap" style="width: 50%; align-content: center">
                    <img src="{{ AI_image }}">
                </div>
           </div>
            <div class="images_f">
            </div>
        </div>
    </div>
    <div class="startBlock" >
        <button class="startButton" id="is-btn" style="font-size:30px;position: center" onclick="window.location.href='{{ url_for('start') }}'">
                <span>Click me</span>
        </button>
    </div>
    </div>
{% endblock %}
</body>
{% block script %}
<script type="module"
            src= "{{ url_for('static', filename='js/vote.js')}}">
    </script>
{% endblock %}
</html>